In [2]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
print(s)
print(s.index)
print(pd.Series(np.random.rand(5)))

a   -1.784376
b   -1.532079
c   -0.749770
d    1.525966
e    1.458630
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
0    0.476900
1    0.368944
2    0.956009
3    0.776656
4    0.114071
dtype: float64

In [4]:
# instantiating Series from dicts:
d = {"b":1, "a":0, "c":2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [7]:
d = {"a":0.0, "b":1.0, "c":2.0}
print(pd.Series(d))
print(pd.Series(d, index=['b', 'c','d','a']))

a    0.0
b    1.0
c    2.0
dtype: float64
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [8]:
pd.Series(5.0, index=["a","b","c","d","e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [13]:
print(s[0])
print(s[:3])
print(s[-3:])

-1.784375984048621
a   -1.784376
b   -1.532079
c   -0.749770
dtype: float64
c   -0.749770
d    1.525966
e    1.458630
dtype: float64

In [15]:
s[s>s.median()]

d    1.525966
e    1.458630
dtype: float64

In [18]:
print(s)
print(s[[4,3,1]])

a   -1.784376
b   -1.532079
c   -0.749770
d    1.525966
e    1.458630
dtype: float64
e    1.458630
d    1.525966
b   -1.532079
dtype: float64

In [21]:
print(np.exp(s))

a    0.167902
b    0.216086
c    0.472475
d    4.599585
e    4.300064
dtype: float64

In [22]:
s.dtype

dtype('float64')

In [23]:
s.array

<PandasArray>
[ -1.784375984048621,  -1.532079194622466, -0.7497699091006894,
  1.5259659987517555,  1.4586298699829146]
Length: 5, dtype: float64

In [25]:
s.to_numpy()

array([-1.78437598, -1.53207919, -0.74976991,  1.525966  ,  1.45862987])

**Series is dict-like**

In [26]:
s["a"]

-1.784375984048621

In [27]:
s["e"]

1.4586298699829146

In [32]:
s

a   -1.784376
b   -1.532079
c   -0.749770
d    1.525966
e    1.458630
dtype: float64

In [34]:
"e" in s

True

In [35]:
'f' in s

False

In [39]:
print(s.get("f"))

None

In [41]:
print(s.get("f", np.nan))

nan

**Vectorized operations and label alignment with series**

In [42]:
s+s

a   -3.568752
b   -3.064158
c   -1.499540
d    3.051932
e    2.917260
dtype: float64

In [43]:
s*2

a   -3.568752
b   -3.064158
c   -1.499540
d    3.051932
e    2.917260
dtype: float64

In [45]:
np.exp

a    0.167902
b    0.216086
c    0.472475
d    4.599585
e    4.300064
dtype: float64

In [64]:
print(s[1:],"\n",s[:-1])
s[1:]+s[:-1]

b   -1.532079
c   -0.749770
d    1.525966
e    1.458630
dtype: float64
 a   -1.784376
b   -1.532079
c   -0.749770
d    1.525966
dtype: float64

a         NaN
b   -3.064158
c   -1.499540
d    3.051932
e         NaN
dtype: float64

In [66]:
s = pd.Series(np.random.rand(5), name='something')

In [68]:
s

0    0.644079
1    0.702699
2    0.692844
3    0.411212
4    0.912599
Name: something, dtype: float64

In [71]:
s2 = s.rename("different")
s2.name

# NOTE: s and s2 refer to different objects

'different'

In [80]:
i = 0
while i<len(s2):
    e1,e2 = s[i], s2[i]
    if e1 == e2:
        print(e1,e2)
    i+=1

0.644079029569523 0.644079029569523
0.7026987205571374 0.7026987205571374
0.6928444748406082 0.6928444748406082
0.41121231915810297 0.41121231915810297
0.9125987264079563 0.9125987264079563

**DataFrame**

In [83]:
d = {
    "one":pd.Series([1.0,2.0,3.0], index=["a", "b", "c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0], index=["a", "b", "c", "d"])
}

In [84]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [89]:
df = pd.DataFrame(d)

In [91]:
pd.Series([1.0,2.0,3.0], index=["a", "b", "c"])

a    1.0
b    2.0
c    3.0
dtype: float64

In [87]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [94]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [97]:
# the row and columns lables can be accessed respectively by accessing 
# the index and columns attributes:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN