In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame(
{
    "Name": [
        "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnel, Miss. Elizabeth",
    ],
    "Age":[22,35,58],
    "Sex": ["male", "make", "female"]
})
df

# A DataFrame is a 2-dimensional data structure that can store
# data of different types (including characters, integers, floating
# point values, categorical data and more) in columns

# Each column is a DataFrame is a Series

df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [9]:
# Creating a series from scratch 
ages = pd.Series([22,35,58], name="age")
ages
# a pandas series has no column labels, as it is just a single 
# column of a DataFrame.

# max() value in series
df['Age'].max()

58

In [10]:
# describe() method provides a quick overview of the numerical data in 
# a DataFrame. As the Name and Sex columns are textual data, these are by default not taken 
# into account by the describe() method.
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000