In [2]:
import numpy as np

In [20]:
np.array([[1,2], [3,4]], dtype=complex)    # complex array
np.zeros((3,4))                            # array of zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [23]:
# create ndarray of itemsize 2 of dimension 3 and length total element
b = np.ones((2,3,4), dtype=np.int16)
b

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [22]:
a = np.arange(15)
a.reshape(3,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [25]:
np.arange(0,2,0.3)    # it accepts float arguments

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [27]:
 from numpy import pi

In [33]:
np.linspace(0,2,9)
x = np.linspace(0,2*pi,200)
f = np.sin(x)
f

array([ 0.00000000e+00,  3.15685498e-02,  6.31056313e-02,  9.45798078e-02,
        1.25959705e-01,  1.57214043e-01,  1.88311666e-01,  2.19221577e-01,
        2.49912962e-01,  2.80355229e-01,  3.10518032e-01,  3.40371303e-01,
        3.69885285e-01,  3.99030558e-01,  4.27778068e-01,  4.56099159e-01,
        4.83965601e-01,  5.11349616e-01,  5.38223906e-01,  5.64561683e-01,
        5.90336692e-01,  6.15523241e-01,  6.40096223e-01,  6.64031143e-01,
        6.87304143e-01,  7.09892022e-01,  7.31772266e-01,  7.52923064e-01,
        7.73323331e-01,  7.92952733e-01,  8.11791702e-01,  8.29821460e-01,
        8.47024034e-01,  8.63382275e-01,  8.78879879e-01,  8.93501396e-01,
        9.07232251e-01,  9.20058757e-01,  9.31968129e-01,  9.42948495e-01,
        9.52988909e-01,  9.62079363e-01,  9.70210796e-01,  9.77375101e-01,
        9.83565137e-01,  9.88774735e-01,  9.92998700e-01,  9.96232822e-01,
        9.98473878e-01,  9.99719634e-01,  9.99968847e-01,  9.99221269e-01,
        9.97477646e-01,  9.94739716e-01,  9.91010207e-01,  9.86292838e-01,
        9.80592311e-01,  9.73914308e-01,  9.66265486e-01,  9.57653470e-01,
        9.48086844e-01,  9.37575144e-01,  9.26128849e-01,  9.13759368e-01,
        9.00479032e-01,  8.86301080e-01,  8.71239643e-01,  8.55309735e-01,
        8.38527236e-01,  8.20908875e-01,  8.02472214e-01,  7.83235632e-01,
        7.63218303e-01,  7.42440181e-01,  7.20921979e-01,  6.98685146e-01,
        6.75751849e-01,  6.52144947e-01,  6.27887973e-01,  6.03005107e-01,
        5.77521152e-01,  5.51461512e-01,  5.24852163e-01,  4.97719629e-01,
        4.70090958e-01,  4.41993691e-01,  4.13455834e-01,  3.84505835e-01,
        3.55172553e-01,  3.25485227e-01,  2.95473450e-01,  2.65167138e-01,
        2.34596503e-01,  2.03792016e-01,  1.72784385e-01,  1.41604519e-01,
        1.10283499e-01,  7.88525454e-02,  4.73429900e-02,  1.57862420e-02,
       -1.57862420e-02, -4.73429900e-02, -7.88525454e-02, -1.10283499e-01,
       -1.41604519e-01, -1.72784385e-01, -2.03792016e-01, -2.34596503e-01,
       -2.65167138e-01, -2.95473450e-01, -3.25485227e-01, -3.55172553e-01,
       -3.84505835e-01, -4.13455834e-01, -4.41993691e-01, -4.70090958e-01,
       -4.97719629e-01, -5.24852163e-01, -5.51461512e-01, -5.77521152e-01,
       -6.03005107e-01, -6.27887973e-01, -6.52144947e-01, -6.75751849e-01,
       -6.98685146e-01, -7.20921979e-01, -7.42440181e-01, -7.63218303e-01,
       -7.83235632e-01, -8.02472214e-01, -8.20908875e-01, -8.38527236e-01,
       -8.55309735e-01, -8.71239643e-01, -8.86301080e-01, -9.00479032e-01,
       -9.13759368e-01, -9.26128849e-01, -9.37575144e-01, -9.48086844e-01,
       -9.57653470e-01, -9.66265486e-01, -9.73914308e-01, -9.80592311e-01,
       -9.86292838e-01, -9.91010207e-01, -9.94739716e-01, -9.97477646e-01,
       -9.99221269e-01, -9.99968847e-01, -9.99719634e-01, -9.98473878e-01,
       -9.96232822e-01, -9.92998700e-01, -9.88774735e-01, -9.83565137e-01,
       -9.77375101e-01, -9.70210796e-01, -9.62079363e-01, -9.52988909e-01,
       -9.42948495e-01, -9.31968129e-01, -9.20058757e-01, -9.07232251e-01,
       -8.93501396e-01, -8.78879879e-01, -8.63382275e-01, -8.47024034e-01,
       -8.29821460e-01, -8.11791702e-01, -7.92952733e-01, -7.73323331e-01,
       -7.52923064e-01, -7.31772266e-01, -7.09892022e-01, -6.87304143e-01,
       -6.64031143e-01, -6.40096223e-01, -6.15523241e-01, -5.90336692e-01,
       -5.64561683e-01, -5.38223906e-01, -5.11349616e-01, -4.83965601e-01,
       -4.56099159e-01, -4.27778068e-01, -3.99030558e-01, -3.69885285e-01,
       -3.40371303e-01, -3.10518032e-01, -2.80355229e-01, -2.49912962e-01,
       -2.19221577e-01, -1.88311666e-01, -1.57214043e-01, -1.25959705e-01,
       -9.45798078e-02, -6.31056313e-02, -3.15685498e-02, -2.44929360e-16])

In [43]:
np.arange(50).reshape(5,10)

# ndarray with itemsize 2,
# ndim 5
# length 50
np.arange(50).reshape(2,5,5)

np.arange(100).reshape(10,2,5)

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]],

       [[60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]],

       [[70, 71, 72, 73, 74],
        [75, 76, 77, 78, 79]],

       [[80, 81, 82, 83, 84],
        [85, 86, 87, 88, 89]],

       [[90, 91, 92, 93, 94],
        [95, 96, 97, 98, 99]]])

In [48]:
A = np.array([[1,1], [0,1]])
B = np.array([[2,0], [3,4]])
A*B   # elementwise product 
A@B   # matrix product 
A.dot(B)   # another matrix product

array([[5, 4],
       [3, 4]])

In [64]:
rg = np.random.default_rng(1)    # create instance of default random number
a = np.ones((2,3), dtype=int)
b = rg.random((2,3))
# print(f"{a}\n{b}")

a*=3
b+=a
b

array([[3.51182162, 3.9504637 , 3.14415961],
       [3.94864945, 3.31183145, 3.42332645]])

In [84]:
a = np.ones(9, dtype=np.int32).reshape(3,3)
b = np.linspace(0,pi,3)
c = a + b
c.dtype.name
d = np.exp(c*1j)
d

array([[ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
        -0.54030231-0.84147098j],
       [ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
        -0.54030231-0.84147098j],
       [ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
        -0.54030231-0.84147098j]])

In [91]:
b = np.arange(12).reshape(3,4)

b.sum(axis=0)    # sum of each column
b.min(axis=1)   # min of each row 
b.cumsum(axis=1)    # cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]])

In [98]:
# axis 0 mean column add
# axis 1 mean row add
b.sum(axis=0)

# min of each row
b.min(axis=1)

# cumulative sum along each row
b.cumsum(axis=1)

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]])

In [106]:
B = np.arange(3)
B
np.exp(B)
np.sqrt(B)
C = np.array([2., -1., 4.])
np.add(B,C)

array([2., 0., 6.])

In [118]:
a = np.arange(10)**3
a[2:5]

# equivalent to a[0:6:2] = 1000;
# from start to position 6, exclusive set every 2nd element to 1000
a[:6:2] = 1000
a

a[::-1] # reversed a

for i in a:
        print(i**(1/3.))

9.999999999999998
1.0
9.999999999999998
3.0
9.999999999999998
4.999999999999999
5.999999999999999
6.999999999999999
7.999999999999999
8.999999999999998

In [123]:
def f(x,y):
    return 10 * x + y

b = np.fromfunction(f, (5,4), dtype=int)
b
b[2,3]
b[0:5, 1]    # each row in the second column of b
b[:, 1]      # equivalend to the previous example
b[1:3, :]    # each column in the second and third row of b

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

In [125]:
# the last row. Equivalend to b[-1,:]
b[-1]
# or 
b[-1, ...]

array([40, 41, 42, 43])

In [132]:
# a 3D array (two stacked 2D array)
c = np.array([[[0,1,2],[10,12,13]], [[100,101,102], [110,112,113]]])
c.shape

# same as c[c, :, :] or c[1]
c[1, ...]

# same as c[:, :, 2]
c[..., 2]

array([[  2,  13],
       [102, 113]])

In [137]:
# Iterating over multidimensional arrays done with respect to the first axis:
for row in b:
    print(row)

[0 1 2 3]
[10 11 12 13]
[20 21 22 23]
[30 31 32 33]
[40 41 42 43]

In [138]:
# if one wants to perform an oepration on each element in the each
# on can use flat attribute which is an iterator over all the elements 
# of the array
for element in b.flat:
    print(element)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43